target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
src/main/java/com/team/afk/googlehashcode/models/Car\.class

src/main/java/com/team/afk/googlehashcode/models/ProblemStructure\.class

src/main/java/com/team/afk/googlehashcode/models/Ride\.class

src/main/java/com/team/afk/googlehashcode/simulation/Simulator\.class

src/main/java/com/team/afk/googlehashcode/AfkGoogleHashcodeApplication\.class

*.out
